Repository maruduke/bitcamp_hierarchy, pull requests merged in 2024-04, with the labels that each got.

#2 frontend config 설정
  FrontEnd/approve/approve.html
  FrontEnd/assets/css/color.css
  FrontEnd/assets/css/font.css
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/login.css
  FrontEnd/assets/css/style.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/images/avatar.jpg
  FrontEnd/assets/js/apis/loginAPI.js
  FrontEnd/assets/js/apis/noteAPI.js
  FrontEnd/assets/js/login.js
  FrontEnd/assets/js/note.js
  FrontEnd/board/board.html
  FrontEnd/common/footer.html
  FrontEnd/common/header.html
  FrontEnd/index.html
  FrontEnd/login/login.html
  FrontEnd/member/member.html
  FrontEnd/note/note.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#3 backend config
  .idea/workspace.xml
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/generated/com/example/backend/entity/maria/QNote.java
  backend/src/main/generated/com/example/backend/entity/maria/QRef.java
  backend/src/main/generated/com/example/backend/entity/maria/QTaskProgress.java
  backend/src/main/generated/com/example/backend/entity/maria/QUser.java
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/config/QueryDslConfig.java
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/controller/NoteController.java
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/dto/SendNoteDto.java
  backend/src/main/java/com/example/backend/entity/maria/Note.java
  backend/src/main/java/com/example/backend/entity/maria/Ref.java
  backend/src/main/java/com/example/backend/entity/maria/TaskProgress.java
  backend/src/main/java/com/example/backend/entity/maria/User.java
  backend/src/main/java/com/example/backend/entity/maria/enumData/Authority.java
  backend/src/main/java/com/example/backend/entity/maria/enumData/DocState.java
  backend/src/main/java/com/example/backend/entity/maria/enumData/DocType.java
  backend/src/main/java/com/example/backend/entity/mongo/BussinessTrip.java
  backend/src/main/java/com/example/backend/entity/mongo/Expense.java
  backend/src/main/java/com/example/backend/entity/mongo/Report.java
  backend/src/main/java/com/example/backend/entity/mongo/Template.java
  backend/src/main/java/com/example/backend/entity/mongo/Vacation.java
  backend/src/main/java/com/example/backend/repository/NoteRepository.java
  backend/src/main/java/com/example/backend/repository/RefRepository.java
  backend/src/main/java/com/example/backend/repository/TaskProgressRepository.java
  backend/src/main/java/com/example/backend/repository/TemplateRepository.java
  backend/src/main/java/com/example/backend/repository/UserRepository.java
  backend/src/main/java/com/example/backend/security/CustomUserDetailService.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/main/java/com/example/backend/service/LogInService.java
  backend/src/main/java/com/example/backend/service/NoteService.java
  backend/src/main/java/com/example/backend/service/SignService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/example/backend/BackendApplicationTests.java
Labels: 💾BackEnd, Config

#4 backend config-2
  .idea/workspace.xml
Labels: 💾BackEnd, Config

#5 backend config name fix
  backend/src/main/generated/com/example/backend/entity/maria/QNote.java
  backend/src/main/java/com/example/backend/controller/MessageController.java
  backend/src/main/java/com/example/backend/dto/SendMessageDto.java
  backend/src/main/java/com/example/backend/entity/maria/Message.java
  backend/src/main/java/com/example/backend/entity/mongo/AccountingExpense.java
  backend/src/main/java/com/example/backend/entity/mongo/BussinessTrip.java
  backend/src/main/java/com/example/backend/entity/mongo/Report.java
  backend/src/main/java/com/example/backend/entity/mongo/Template.java
  backend/src/main/java/com/example/backend/entity/mongo/Vacation.java
  backend/src/main/java/com/example/backend/repository/MessageRepository.java
Labels: 💾BackEnd, Config

#9 config
  FrontEnd/assets/css/common.css
  FrontEnd/assets/css/style.css
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#8 엔티티 수정
  backend/src/main/java/com/example/backend/entity/maria/Document.java
  backend/src/main/java/com/example/backend/entity/maria/Ref.java
  backend/src/main/java/com/example/backend/entity/maria/TaskProgress.java
Labels: 💾BackEnd, 🛠FIX

#11 backend config name fix
  backend/src/main/generated/com/example/backend/entity/maria/QNote.java
  backend/src/main/generated/com/example/backend/entity/maria/QRef.java
  backend/src/main/generated/com/example/backend/entity/maria/QTaskProgress.java
  backend/src/main/java/com/example/backend/entity/mongo/Report.java
  backend/src/main/java/com/example/backend/entity/mongo/Template.java
  backend/src/main/java/com/example/backend/repository/TemplateRepository.java
  backend/src/test/java/com/example/backend/BackendApplicationTests.java
Labels: 💾BackEnd, ✨ FEAT

#12 DocumentRepository create
  backend/src/main/java/com/example/backend/repository/DocumentRepository.java
Labels: 💾BackEnd, ✨ FEAT

#14 Be/accounting
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/dto/template/AccountDto.java
  backend/src/main/java/com/example/backend/entity/maria/Document.java
  backend/src/main/java/com/example/backend/entity/maria/User.java
  backend/src/main/java/com/example/backend/repository/DocumentRepository.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/test/java/com/example/backend/service/BoardServiceTest.java
Labels: 💾BackEnd, 🛠FIX
