Repository maruduke/bitcamp_hierarchy, pull requests merged in 2024-05, with the labels that each got.

#15 BE/feat/login
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/dto/user/LoginDto.java
  backend/src/main/java/com/example/backend/entity/maria/User.java
  backend/src/main/java/com/example/backend/security/CustomUserDetailService.java
  backend/src/main/java/com/example/backend/service/UserService.java
  backend/src/test/java/com/example/backend/BackendApplicationTests.java
Labels: 💾BackEnd, ✨ FEAT

#16 backend config name fix
  backend/src/main/generated/com/example/backend/entity/maria/QDocument.java
  backend/src/main/generated/com/example/backend/entity/maria/QMessage.java
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/dto/template/BussinessTripDto.java
  backend/src/main/java/com/example/backend/dto/template/ReportDto.java
  backend/src/main/java/com/example/backend/dto/template/TemplateDto.java
  backend/src/main/java/com/example/backend/dto/template/VacationDto.java
  backend/src/main/java/com/example/backend/entity/maria/Document.java
  backend/src/main/java/com/example/backend/entity/maria/enumData/DocType.java
  backend/src/main/java/com/example/backend/entity/mongo/AccountingExpense.java
  backend/src/main/java/com/example/backend/entity/mongo/BussinessTrip.java
  backend/src/main/java/com/example/backend/entity/mongo/Report.java
  backend/src/main/java/com/example/backend/entity/mongo/Template.java
  backend/src/main/java/com/example/backend/entity/mongo/TypeData.java
  backend/src/main/java/com/example/backend/entity/mongo/Vacation.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/test/java/com/example/backend/repository/TemplateRepositoryTest.java
Labels: 💾BackEnd, ✨ FEAT

#17 Member 조직도 기능 서비스 활용 안되는 부분 수정
  backend/src/main/java/com/example/backend/controller/MemberController.java
  backend/src/main/java/com/example/backend/dto/Member/MemberDto.java
  backend/src/main/java/com/example/backend/repository/MemberRepository.java
  backend/src/main/java/com/example/backend/service/MemberService.java
Labels: 💾BackEnd, 🛠FIX

#18 Dto 생성 및 toEntity함수 정의 및 외래키 제약 조건 일부 삭제
  backend/src/main/generated/com/example/backend/entity/maria/QDocument.java
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/dto/template/AccountDto.java
  backend/src/main/java/com/example/backend/dto/template/AccountExpenseDto.java
  backend/src/main/java/com/example/backend/dto/template/BussinessTripDto.java
  backend/src/main/java/com/example/backend/dto/template/ReportDto.java
  backend/src/main/java/com/example/backend/dto/template/TemplateDto.java
  backend/src/main/java/com/example/backend/dto/template/VacationDto.java
  backend/src/main/java/com/example/backend/entity/maria/Document.java
  backend/src/main/java/com/example/backend/entity/maria/TaskProgress.java
  backend/src/main/java/com/example/backend/entity/mongo/AccountingExpense.java
  backend/src/main/java/com/example/backend/service/BoardService.java
Labels: 💾BackEnd, ✨ FEAT

#19 message 메세지 보내기 기능
  backend/src/main/java/com/example/backend/controller/MessageController.java
  backend/src/main/java/com/example/backend/dto/Message/ReceivedMessageDto.java
  backend/src/main/java/com/example/backend/dto/Message/SendMessageDto.java
  backend/src/main/java/com/example/backend/dto/SendMessageDto.java
  backend/src/main/java/com/example/backend/entity/maria/Message.java
  backend/src/main/java/com/example/backend/repository/MessageRepository.java
  backend/src/main/java/com/example/backend/service/MessageService.java
Labels: 💾BackEnd, ✨ FEAT

#20 - 템플릿 생성 후 MongoDB와 정보를 Document에 저장하는 기능 구현
  backend/build.gradle
  backend/src/main/generated/com/example/backend/entity/maria/QDocument.java
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/dto/template/AccountExpenseDto.java
  backend/src/main/java/com/example/backend/dto/template/BussinessTripDto.java
  backend/src/main/java/com/example/backend/dto/template/ReportDto.java
  backend/src/main/java/com/example/backend/dto/template/TemplateDto.java
  backend/src/main/java/com/example/backend/dto/template/VacationDto.java
  backend/src/main/java/com/example/backend/entity/maria/Document.java
  backend/src/main/java/com/example/backend/entity/maria/Message.java
  backend/src/main/java/com/example/backend/entity/maria/User.java
  backend/src/main/java/com/example/backend/entity/mongo/Template.java
  backend/src/main/java/com/example/backend/repository/DocumentRepository.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/test/java/com/example/backend/service/BoardServiceTest.java
Labels: 💾BackEnd, 🛠FIX, ✨ FEAT

#21 긴급 핫픽스
  backend/src/main/generated/com/example/backend/entity/maria/QMessage.java
  backend/src/main/generated/com/example/backend/entity/maria/QUser.java
  backend/src/main/java/com/example/backend/dto/Member/MemberDto.java
  backend/src/main/java/com/example/backend/dto/user/JoinDto.java
  backend/src/main/java/com/example/backend/repository/MemberRepository.java
  backend/src/main/java/com/example/backend/service/MessageService.java
  backend/src/main/java/com/example/backend/service/UserService.java
Labels: 💾BackEnd, 🚨 HOTFIX

#23 공통 설정 및 메인 제작
  FrontEnd/assets/css/common.css
  FrontEnd/assets/css/font.css
  FrontEnd/assets/css/index.css
  FrontEnd/assets/images/logo.png
  FrontEnd/assets/images/logo.svg
  FrontEnd/assets/images/message.png
  FrontEnd/assets/images/return.png
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#27 나머지 공통기능 화면 구현
  FrontEnd/approve/approve.html
  FrontEnd/approve/approve_1.html
  FrontEnd/assets/css/common.css
  FrontEnd/assets/css/font.css
  FrontEnd/assets/css/index.css
  FrontEnd/assets/images/down_arrow.svg
  FrontEnd/assets/js/common.js
  FrontEnd/common/footer.html
  FrontEnd/common/header.html
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#24 Be/feat/Jwt
  backend/build.gradle
  backend/src/main/java/com/example/backend/Jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/Jwt/JwtUtil.java
  backend/src/main/java/com/example/backend/Jwt/Subject.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/controller/JoinController.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/dto/user/JoinDto.java
  backend/src/main/java/com/example/backend/dto/user/TokenDto.java
  backend/src/main/java/com/example/backend/dto/user/UserResponse.java
  backend/src/main/java/com/example/backend/entity/maria/User.java
  backend/src/main/java/com/example/backend/security/CustomUserDetailService.java
  backend/src/main/java/com/example/backend/service/UserService.java
  backend/src/main/resources/application.yml
Labels: 💾BackEnd, ✨ FEAT

#26 message 삭제기능 추가 다른 기능 수정 필요
  backend/src/main/java/com/example/backend/controller/MessageController.java
  backend/src/main/java/com/example/backend/dto/Message/SendMessageDto.java
  backend/src/main/java/com/example/backend/entity/maria/Message.java
  backend/src/main/java/com/example/backend/repository/MessageRepository.java
  backend/src/main/java/com/example/backend/service/MessageService.java
Labels: 💾BackEnd, ✨ FEAT

#28 화면 공통 완료
  FrontEnd/approve/approve.html
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/login.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/css/yung.css
  FrontEnd/index.html
  FrontEnd/login/login.html
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#30 나의 신청 목록 페이지 완성 및 공통 수정
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/images/return.png
  FrontEnd/assets/images/return_btn.svg
  FrontEnd/board/board.html
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#29 message sendTime null값 수정
  backend/src/main/java/com/example/backend/dto/Message/SendMessageDto.java
  backend/src/main/java/com/example/backend/entity/maria/Message.java
  backend/src/main/java/com/example/backend/service/MessageService.java
Labels: 💾BackEnd, 🛠FIX

#31 코드 이동
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/entity/maria/User.java
Labels: 💾BackEnd, 🛠FIX

#32 Fe/feat/member registration / 사원등록 페이지
  FrontEnd/assets/css/login.css
  FrontEnd/emp_registration/emp_registration.html
  FrontEnd/login/login.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#33 login.css 수정
  FrontEnd/assets/css/login.css
Labels: 🖥️ FrontEnd

#34 Fe/feat/check vac
  FrontEnd/approve/apply_vac.html
  FrontEnd/approve/approve_1.html
  FrontEnd/approve/check_business.html
  FrontEnd/approve/check_expense.html
  FrontEnd/approve/check_report.html
  FrontEnd/approve/check_vac.html
  FrontEnd/approve/main.html
  FrontEnd/assets/css/yung.css
  FrontEnd/common/header.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#35 마이페이지, 마이페이지 수정 html, css
  .vscode/extensions.json
  FrontEnd/assets/css/login.css
  FrontEnd/emp_registration/emp_registration.html
  FrontEnd/index.html
  FrontEnd/mypage/mypage.css
  FrontEnd/mypage/mypage.html
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#36 apply구현
  FrontEnd/approve/apply_vac.html
  FrontEnd/assets/css/yung.css
Labels: 🖥️ FrontEnd, ✨ FEAT

#37 Delete .vscode directory
  .vscode/extensions.json
Labels: 🖥️ FrontEnd, 🚨 HOTFIX

#38 코드 이동
  backend/src/main/generated/com/example/backend/entity/maria/QTaskProgress.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/dto/template/ReportDto.java
  backend/src/main/java/com/example/backend/dto/template/TemplateDto.java
  backend/src/main/java/com/example/backend/entity/maria/TaskProgress.java
  backend/src/main/java/com/example/backend/repository/TaskProgressRepository.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/main/java/com/example/backend/service/SignService.java
  backend/src/test/java/com/example/backend/repository/TemplateRepositoryTest.java
  backend/src/test/java/com/example/backend/service/BoardServiceTest.java
  backend/src/test/java/com/example/backend/service/SignServiceTest.java
Labels: 💾BackEnd, 🛠FIX

#40 fix: 폰트 변경, 박스 사이즈 설정
  FrontEnd/approve/apply_business.html
  FrontEnd/approve/apply_expense.html
  FrontEnd/approve/apply_report.html
  FrontEnd/approve/apply_vac.html
  FrontEnd/assets/css/common.css
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/yung.css
Labels: 🖥️ FrontEnd, 🛠FIX

#42 설정 common
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/sub.css
Labels: 🖥️ FrontEnd, ✨ FEAT

#45 나의 신청목록 기능
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/dto/board/MyListDto.java
  backend/src/main/java/com/example/backend/repository/DocumentRepository.java
  backend/src/main/java/com/example/backend/repository/mylist/MyList.java
  backend/src/main/java/com/example/backend/repository/mylist/MyListImpl.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/test/java/com/example/backend/repository/DocumentRepositoryTest.java
Labels: 💾BackEnd, ✨ FEAT, Config

#46 BE/fix/jwt, mypage
  backend/src/main/java/com/example/backend/Jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/Jwt/JwtUtil.java
  backend/src/main/java/com/example/backend/config/RedisConfig.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/dto/user/InfoDto.java
  backend/src/main/java/com/example/backend/repository/UserRepository.java
  backend/src/main/java/com/example/backend/service/RedisService.java
  backend/src/main/java/com/example/backend/service/UserService.java
Labels: 💾BackEnd, 🛠FIX, ✨ FEAT

#47 Be/feat/approve
  backend/src/main/generated/com/example/backend/entity/maria/QRef.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/controller/advice/SignControllerAdvice.java
  backend/src/main/java/com/example/backend/dto/sign/ApproveDto.java
  backend/src/main/java/com/example/backend/entity/maria/Document.java
  backend/src/main/java/com/example/backend/entity/maria/Ref.java
  backend/src/main/java/com/example/backend/entity/maria/enumData/DocState.java
  backend/src/main/java/com/example/backend/entity/mongo/Template.java
  backend/src/main/java/com/example/backend/repository/TaskProgressRepository.java
  backend/src/main/java/com/example/backend/service/SignService.java
  backend/src/main/resources/application.yml
Labels: 💾BackEnd, ✨ FEAT

#48 에러 hotfix
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/repository/TaskProgressRepository.java
  backend/src/main/java/com/example/backend/service/SignService.java
Labels: 💾BackEnd, 🚨 HOTFIX

#50 Be/fix/config
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
Labels: 💾BackEnd, 🛠FIX

#51 Be/fix/jwtlogin
  backend/src/main/java/com/example/backend/Jwt/JwtUtil.java
Labels: 💾BackEnd, 🛠FIX

#49 대기 중인 목록 생성
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/sub.css
  FrontEnd/board/board.html
  FrontEnd/board/myList.html
  FrontEnd/board/waitingList.html
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#52 메세지 모달 및 기존 페이지 수정
  FrontEnd/assets/css/login.css
  FrontEnd/assets/images/userimg.webp
  FrontEnd/emp_registration/emp_registration.html
  FrontEnd/login/login.css
  FrontEnd/login/login.html
  FrontEnd/message/message.css
  FrontEnd/message/message.js
  FrontEnd/message/message5_send.html
  FrontEnd/message/message_inbox.html
  FrontEnd/message/message_inbox_check.html
  FrontEnd/message/message_outbox.html
  FrontEnd/message/message_outbox_check.html
  FrontEnd/mypage/mypage.css
  FrontEnd/mypage/mypage.html
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, 🛠FIX, ✨ FEAT

#53 페이지 간 이동 수정 완료
  FrontEnd/approve/apply_business.html
  FrontEnd/approve/apply_expense.html
  FrontEnd/approve/apply_report.html
  FrontEnd/approve/apply_vac.html
  FrontEnd/approve/check_business.html
  FrontEnd/approve/check_expense.html
  FrontEnd/approve/check_report.html
  FrontEnd/approve/check_vac.html
  FrontEnd/common/header.html
  FrontEnd/index.html
Labels: 🖥️ FrontEnd

#54 결재메인 링크 연결 및 리스트 생성
  FrontEnd/approve/main.html
  FrontEnd/approve/myList.html
  FrontEnd/approve/waitingList.html
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/sub.css
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#55 front 조직도 출력
  FrontEnd/assets/css/member.css
  FrontEnd/assets/js/member.js
  FrontEnd/member/member.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#56 login api 추가
  FrontEnd/assets/js/apis/apitest.html
  FrontEnd/assets/js/apis/loginAPI.js
  FrontEnd/assets/js/apis/signAPI.js
Labels: 🖥️ FrontEnd, ✨ FEAT

#57 BE/fix/login,logout,mypage
  backend/src/main/java/com/example/backend/Jwt/JwtUtil.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/service/UserService.java
Labels: 💾BackEnd, 🛠FIX

#58 임시저장 error 수정
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/repository/TaskProgressRepository.java
  backend/src/main/java/com/example/backend/service/SignService.java
Labels: 💾BackEnd, 🛠FIX

#59 임시 데이터로 mypage,check_vac 연결
  FrontEnd/approve/check_vac.html
  FrontEnd/assets/js/checkVac.js
  FrontEnd/assets/js/myPage.js
  FrontEnd/assets/js/myPageModify.js
  FrontEnd/mypage/mypage.css
  FrontEnd/mypage/mypage.html
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#61 데이터 전송 코드(주석), applyVac 작성
  FrontEnd/approve/apply_vac.html
  FrontEnd/approve/check_vac.html
  FrontEnd/assets/css/login.css
  FrontEnd/assets/js/apply/applyVac.js
  FrontEnd/assets/js/check/checkVac.js
  FrontEnd/assets/js/myPageModify.js
Labels: 🖥️ FrontEnd, ✨ FEAT

#60 message @AuthenticationPrincipal User user 추가 수정
  backend/src/main/java/com/example/backend/controller/MemberController.java
  backend/src/main/java/com/example/backend/controller/MessageController.java
  backend/src/main/java/com/example/backend/dto/Message/SendMessageDto.java
  backend/src/main/java/com/example/backend/service/MessageService.java
Labels: 💾BackEnd, 🛠FIX

#62 jpa 오류로 인한 엔티티 명칭 수정
  backend/src/main/generated/com/example/backend/entity/maria/QTaskProgress.java
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/entity/maria/TaskProgress.java
  backend/src/main/java/com/example/backend/entity/mongo/AccountingExpense.java
  backend/src/main/java/com/example/backend/repository/TaskProgressRepository.java
  backend/src/main/java/com/example/backend/repository/mylist/MyListImpl.java
  backend/src/main/java/com/example/backend/service/SignService.java
  backend/src/test/java/com/example/backend/repository/DocumentRepositoryTest.java
  backend/src/test/java/com/example/backend/repository/TemplateRepositoryTest.java
  backend/src/test/java/com/example/backend/service/SignServiceTest.java
Labels: 💾BackEnd, 🛠FIX

#64 보낸쪽지함 messageId가져오기 수정
  backend/src/main/java/com/example/backend/dto/Message/SendMessageDto.java
  backend/src/main/java/com/example/backend/service/MessageService.java
Labels: 💾BackEnd, 🛠FIX

#66 백엔드 Cors error 해결
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/SignController.java
Labels: 💾BackEnd, Config

#63 페이지 간격수정 및 myPage전송 구현(테스트)
  FrontEnd/assets/css/member.css
  FrontEnd/assets/css/yung.css
  FrontEnd/assets/js/myPage.js
Labels: 🖥️ FrontEnd, ✨ FEAT

#65 프론트엔드 Server 설치 및 라우팅 설정
  FrontEnd/.gitignore
  FrontEnd/app.js
  FrontEnd/assets/js/apis/apitest.html
  FrontEnd/assets/js/apis/apitest2.html
  FrontEnd/assets/js/apis/exceptHandler.js
  FrontEnd/assets/js/apis/loginAPI.js
  FrontEnd/assets/js/apis/signAPI.js
  FrontEnd/emp_registration/emp_registration.html
  FrontEnd/index.html
  FrontEnd/login/login.html
  FrontEnd/member/member.html
  FrontEnd/mypage/mypage.html
  FrontEnd/package-lock.json
  FrontEnd/package.json
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#67 쪽지 모달 수정 / 수신 발신 보내기 양방향
  FrontEnd/message/message.css
  FrontEnd/message/messageModal.js
  FrontEnd/message/message_inbox.html
  FrontEnd/message/message_outbox_check.html
  FrontEnd/message/message_pagemove.js
  FrontEnd/message/message_pagemove1.js
  FrontEnd/message/message_send.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#68 BE/fix/jwtlive
  backend/src/main/resources/application.yml
Labels: 💾BackEnd, 🛠FIX

#69 쪽지 모달에 날짜 영역 추가
  FrontEnd/message/message.css
  FrontEnd/message/message_inbox.html
  FrontEnd/message/message_inbox_check.html
  FrontEnd/message/message_outbox_check.html
  FrontEnd/package-lock.json
Labels: 🖥️ FrontEnd

#71 Fe/feat/login
  FrontEnd/assets/js/apis/exceptHandler.js
  FrontEnd/assets/js/apis/loginAPI.js
  FrontEnd/assets/js/login.js
  FrontEnd/login/login.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#72 Fe/feat/path2
  FrontEnd/app.js
  FrontEnd/approve/apply_business.html
  FrontEnd/approve/apply_expense.html
  FrontEnd/approve/apply_report.html
  FrontEnd/approve/apply_vac.html
  FrontEnd/approve/check_business.html
  FrontEnd/approve/check_expense.html
  FrontEnd/approve/check_report.html
  FrontEnd/approve/check_vac.html
  FrontEnd/approve/main.html
  FrontEnd/approve/myList.html
  FrontEnd/approve/waitingList.html
  FrontEnd/assets/css/mypage.css
  FrontEnd/assets/js/common.js
  FrontEnd/common/header.html
  FrontEnd/index.html
  FrontEnd/login/login.html
  FrontEnd/mypage/mypage.html
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, 🛠FIX

#73 index의 header경로 수정
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, 🛠FIX

#74 mypage와 db연결 구현
  FrontEnd/assets/js/myPage.js
Labels: 🖥️ FrontEnd, ✨ FEAT

#75 jwt추가 로그인시 적용 변경
  FrontEnd/assets/js/member.js
Labels: 🖥️ FrontEnd, 🛠FIX

#76 mypage 데이터 전송 구현
  FrontEnd/assets/js/myPageModify.js
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#79 나의 신청 목록 페이지 무한스크롤 구현
  FrontEnd/approve/myList.html
  FrontEnd/approve/waitingList.html
  FrontEnd/assets/css/color.css
  FrontEnd/assets/css/font.css
  FrontEnd/assets/css/style.css
  FrontEnd/assets/js/myList.js
  FrontEnd/note/note.html
  FrontEnd/registration/emp_registration.html
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#77 message 에 member정보 전부 가져오기
  backend/src/main/java/com/example/backend/controller/MessageController.java
Labels: 💾BackEnd, ✨ FEAT

#78 로그인 GET 기능 구현
  backend/src/main/java/com/example/backend/controller/LogInController.java
Labels: 💾BackEnd, ✨ FEAT

#82 js css 파일 폴더이동send fetch적용 성공
  FrontEnd/assets/css/message.css
  FrontEnd/assets/js/messageHander.js
  FrontEnd/assets/js/messageModal.js
  FrontEnd/assets/js/message_pagemove.js
  FrontEnd/message/message_inbox.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#83 메세지 보낸시간 지위 정보 보내기 수정
  backend/src/main/java/com/example/backend/dto/Message/ReceivedMessageDto.java
  backend/src/main/java/com/example/backend/dto/Message/SendMessageDto.java
  backend/src/main/java/com/example/backend/service/MessageService.java
Labels: 💾BackEnd, 🛠FIX

#85 User 이메일, 이름 , 직급 데이터 전송
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/dto/sign/UserDto.java
  backend/src/main/java/com/example/backend/service/SignService.java
Labels: 💾BackEnd, ✨ FEAT

#87 마이페이지 수정시 전화번호만 값을 받도록 수정
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/dto/user/InfoDto.java
  backend/src/main/java/com/example/backend/repository/UserRepository.java
  backend/src/main/java/com/example/backend/service/UserService.java
Labels: 💾BackEnd, 🛠FIX

#86 myPage 이메일 변경불가능하게 수정
  FrontEnd/assets/js/myPageModify.js
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, 🛠FIX

#88 로그인 수정
  FrontEnd/login/login.html
Labels: 🖥️ FrontEnd, 🛠FIX

#90 로그아웃 기능 구현, header의 a태그 버튼으로 fix
  FrontEnd/assets/css/index.css
  FrontEnd/assets/js/common.js
  FrontEnd/assets/js/myPageModify.js
  FrontEnd/common/header.html
Labels: 🖥️ FrontEnd, 🛠FIX, ✨ FEAT

#92 보안상 문제 있을수있어서 userId 보내지 않음
  backend/src/main/java/com/example/backend/dto/Member/MemberDto.java
  backend/src/main/java/com/example/backend/repository/MemberRepository.java
Labels: 💾BackEnd, 🛠FIX

#91 사원등록 기능 구현
  FrontEnd/assets/js/emp_registration.js
  FrontEnd/emp_registration/emp_registration.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#93 alert구현, tel입력을 숫자로 입력제한
  FrontEnd/assets/js/common.js
  FrontEnd/assets/js/emp_registration.js
  FrontEnd/assets/js/myPageModify.js
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, 🛠FIX

#94 입력 데이터 유효성 검사 구현
  FrontEnd/assets/js/emp_registration.js
Labels: 🖥️ FrontEnd, 🛠FIX

#95 message 기능 구현중
  FrontEnd/assets/css/message.css
  FrontEnd/assets/js/messageHander.js
  FrontEnd/assets/js/messageReceiveList.js
  FrontEnd/assets/js/messageSendList.js
  FrontEnd/assets/js/message_pagemove.js
  FrontEnd/message/message_inbox.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#97 Apply vacation 기능 생성
  FrontEnd/approve/apply_vac.html
  FrontEnd/approve/check_vac.html
  FrontEnd/assets/js/apis/apitest.html
  FrontEnd/assets/js/apis/apitest2.html
  FrontEnd/assets/js/apis/applyAPI.js
  FrontEnd/assets/js/apply/applyCommon.js
  FrontEnd/assets/js/apply/applyExpense.js
  FrontEnd/assets/js/apply/applyReport.js
  FrontEnd/assets/js/apply/applyVac.js
Labels: 🖥️ FrontEnd, ✨ FEAT

#96 TemplateDto 수정 + 날짜 데이터 직렬화 적용
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/dto/template/AccountExpenseDto.java
  backend/src/main/java/com/example/backend/dto/template/BussinessTripDto.java
  backend/src/main/java/com/example/backend/dto/template/ReportDto.java
  backend/src/main/java/com/example/backend/dto/template/TemplateDto.java
  backend/src/main/java/com/example/backend/dto/template/VacationDto.java
  backend/src/main/java/com/example/backend/entity/mongo/Vacation.java
  backend/src/main/java/com/example/backend/repository/UserRepository.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/main/java/com/example/backend/service/SignService.java
  backend/src/test/java/com/example/backend/service/BoardServiceTest.java
Labels: 💾BackEnd, 🛠FIX

#98 토큰 없이 타 페이지 접속 시 401 error 받도록 설정
  backend/src/main/java/com/example/backend/Jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/service/UserService.java
Labels: 💾BackEnd, 🛠FIX

#99 fix : Dto를 id값을 받아 저장하는 것에서 email값을 받아서 id값을 찾아서 넣어 주는 것으로 변경
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/dto/template/AccountExpenseDto.java
  backend/src/main/java/com/example/backend/dto/template/BussinessTripDto.java
  backend/src/main/java/com/example/backend/entity/mongo/AccountingExpense.java
  backend/src/main/java/com/example/backend/entity/mongo/BussinessTrip.java
Labels: 💾BackEnd, 🛠FIX

#100 쪽지 받은 메세지함 삭제 확인 기능
  FrontEnd/assets/js/messageReceiveList.js
Labels: 🖥️ FrontEnd, ✨ FEAT

#102 사원등록 페이지 get요청시 권한여부 체크 및 로그인 시에는 jwt 필터에 걸리지 않도록 설정
  backend/src/main/java/com/example/backend/Jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
Labels: 💾BackEnd, 🛠FIX

#103 사원등록 버튼화, 권한자만 접근가능
  FrontEnd/assets/css/index.css
  FrontEnd/assets/js/index.js
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#107 대기중인목록 페이지 완성
  FrontEnd/approve/myList.html
  FrontEnd/approve/waitingList.html
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/js/myList.js
  FrontEnd/assets/js/waitingList.js
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#110 파일정리
  FrontEnd/approve/apply/apply_business.html
  FrontEnd/approve/apply/apply_expense.html
  FrontEnd/approve/apply/apply_report.html
  FrontEnd/approve/apply/apply_vac.html
  FrontEnd/approve/check/check_business.html
  FrontEnd/approve/check/check_expense.html
  FrontEnd/approve/check/check_report.html
  FrontEnd/approve/check/check_vac.html
  FrontEnd/approve/list/myList.html
  FrontEnd/approve/list/waitingList.html
  FrontEnd/approve/main.html
  FrontEnd/assets/css/common.css
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/login.css
  FrontEnd/assets/css/member.css
  FrontEnd/assets/css/message.css
  FrontEnd/assets/css/mypage.css
  FrontEnd/assets/css/style.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/css/yung.css
  FrontEnd/assets/images/avatar.jpg
  FrontEnd/assets/images/logo.png
  FrontEnd/assets/images/message.png
  FrontEnd/assets/images/message.svg
  FrontEnd/assets/js/approveMain.js
  FrontEnd/assets/js/list/myList.js
  FrontEnd/assets/js/list/waitingList.js
  FrontEnd/assets/js/member/member.js
  FrontEnd/assets/js/message/messageHander.js
  FrontEnd/assets/js/message/messageModal.js
  FrontEnd/assets/js/message/messageReceiveList.js
  FrontEnd/assets/js/message/messageSendList.js
  FrontEnd/assets/js/message/message_pagemove.js
  FrontEnd/assets/js/mypage/myPage.js
  FrontEnd/assets/js/mypage/myPageModify.js
  FrontEnd/assets/js/note.js
  FrontEnd/assets/js/registraction/emp_registration.js
  FrontEnd/login/login.html
  FrontEnd/member/member.html
  FrontEnd/message/message_inbox.html
  FrontEnd/message/message_inbox_check.html
  FrontEnd/message/message_outbox.html
  FrontEnd/message/message_outbox_check.html
  FrontEnd/message/message_pagemove1.js
  FrontEnd/message/message_send.html
  FrontEnd/mypage/mypage.html
  FrontEnd/mypage/mypage_modify.html
  FrontEnd/registraction/emp_registration.html
  FrontEnd/registration/emp_registration.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#109 파일 경로 수정 login
  FrontEnd/assets/js/login/login.js
  FrontEnd/login/login.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#111 로그인 css 분리 및 이름 변경
  FrontEnd/approve/list/myList.html
  FrontEnd/approve/list/waitingList.html
  FrontEnd/approve/main.html
  FrontEnd/assets/css/login.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/js/registration/registration.js
  FrontEnd/login/login.html
  FrontEnd/registration/registration.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#113 app.js 경로 수정
  FrontEnd/app.js
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#112 logo 추가
  FrontEnd/assets/images/logo.png
  FrontEnd/assets/images/logo.svg
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#114 Front/fix/css member
  FrontEnd/assets/css/sub.css
  FrontEnd/member/member.html
Labels: 🖥️ FrontEnd, 🛠FIX

#115 언어 변경
  FrontEnd/registration/registration.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#116 경로 수정
  FrontEnd/app.js
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#119 member 경로 수정
  FrontEnd/assets/js/common.js
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#120 path 수정
  FrontEnd/app.js
  FrontEnd/approve/main.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#118 로그인/마이페이지 타이틀 및 랭귀지 변경
  FrontEnd/login/login.html
  FrontEnd/mypage/mypage.html
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, 🛠FIX

#117 멤버 타이틀
  FrontEnd/member/member.html
Labels: 🖥️ FrontEnd, 🛠FIX

#121 경로수정
  FrontEnd/assets/js/common.js
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#123 message upload
  FrontEnd/approve/apply/apply_business.html
  FrontEnd/approve/apply/apply_expense.html
  FrontEnd/approve/apply/apply_report.html
  FrontEnd/approve/apply/apply_vac.html
  FrontEnd/approve/check/check_business.html
  FrontEnd/approve/check/check_expense.html
  FrontEnd/approve/check/check_report.html
  FrontEnd/approve/check/check_vac.html
  FrontEnd/approve/list/myList.html
  FrontEnd/approve/list/waitingList.html
  FrontEnd/approve/main.html
  FrontEnd/assets/js/common.js
  FrontEnd/assets/js/message/messageHander.js
  FrontEnd/assets/js/message/messageModal.js
  FrontEnd/assets/js/message/messageReceiveList.js
  FrontEnd/assets/js/message/messageSendList.js
  FrontEnd/assets/js/message/message_pagemove.js
  FrontEnd/common/footer.html
  FrontEnd/index.html
  FrontEnd/member/member.html
  FrontEnd/message/message_inbox.html
  FrontEnd/message/message_send.html
  FrontEnd/mypage/mypage.html
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#122 메세지 수정
  FrontEnd/assets/js/message/messageHander.js
  FrontEnd/assets/js/message/messageReceiveList.js
  FrontEnd/assets/js/message/messageSendList.js
Labels: 🖥️ FrontEnd, 🛠FIX

#124 헤더 변경
  FrontEnd/approve/list/myList.html
  FrontEnd/approve/list/waitingList.html
  FrontEnd/assets/XEIcon-2.2.0/bower.json
  FrontEnd/assets/XEIcon-2.2.0/fonts/xeicon.eot
  FrontEnd/assets/XEIcon-2.2.0/fonts/xeicon.svg
  FrontEnd/assets/XEIcon-2.2.0/fonts/xeicon.ttf
  FrontEnd/assets/XEIcon-2.2.0/fonts/xeicon.woff
  FrontEnd/assets/XEIcon-2.2.0/fonts/xeicon.woff2
  FrontEnd/assets/XEIcon-2.2.0/xeicon.css
  FrontEnd/assets/XEIcon-2.2.0/xeicon.min.css
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/style.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/css/xeicon.min.css
  FrontEnd/assets/js/list/waitingList.js
  FrontEnd/common/header.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#125 board Controller getMapping
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/controller/SignController.java
  backend/src/main/java/com/example/backend/entity/mongo/Template.java
  backend/src/main/java/com/example/backend/service/BoardService.java
Labels: 💾BackEnd, ✨ FEAT

#126 헤더에 이름 띄우기 기능 구현
  FrontEnd/assets/js/common.js
  FrontEnd/assets/js/header.js
  FrontEnd/common/header.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#129 날짜형식변환 제거
  FrontEnd/assets/js/message/messageReceiveList.js
  FrontEnd/assets/js/message/messageSendList.js
Labels: 🖥️ FrontEnd, 🛠FIX

#131 인덱스 html 수정
  FrontEnd/index.html
Labels: 🖥️ FrontEnd

#127 헤더에 이름띄우기 위한 기능 구현
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/dto/user/HeaderDto.java
  backend/src/main/java/com/example/backend/repository/UserRepository.java
  backend/src/main/java/com/example/backend/service/UserService.java
Labels: 💾BackEnd, ✨ FEAT

#130 날짜 데이터 포멧 보내기
  backend/src/main/java/com/example/backend/dto/Message/ReceivedMessageDto.java
  backend/src/main/java/com/example/backend/dto/Message/SendMessageDto.java
Labels: 💾BackEnd, 🛠FIX

#132 register 경로 수정 및 비로그인 시 reg페이지 접속 못하게 수정
  FrontEnd/assets/js/index.js
  FrontEnd/assets/js/registration/registration.js
Labels: 🖥️ FrontEnd, 🛠FIX

#133 로그인 토큰 없을시 로그인화면으로 가도록 구현
  FrontEnd/assets/js/common.js
  FrontEnd/assets/js/header.js
  FrontEnd/assets/js/index.js
  FrontEnd/assets/js/mypage/myPage.js
  FrontEnd/assets/js/mypage/myPageModify.js
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#134 나의 신청목록 수정
  FrontEnd/approve/main.html
  FrontEnd/assets/js/list/myList.js
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#135 대기중인 목록, 나의 신청목록 코드수정
  FrontEnd/assets/js/list/myList.js
  FrontEnd/assets/js/list/waitingList.js
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#136 결재메인 스크롤제외하고 기능 완성
  FrontEnd/approve/main.html
  FrontEnd/assets/js/approveMain.js
Labels: 🖥️ FrontEnd, ✨ FEAT, Config

#137 페이지네이션 백 완성
  backend/src/main/java/com/example/backend/controller/MessageController.java
  backend/src/main/java/com/example/backend/repository/MessageRepository.java
  backend/src/main/java/com/example/backend/service/MessageService.java
Labels: 💾BackEnd, 🛠FIX, ✨ FEAT

#138 쪽지 페이지네이션 완성 및 index 쪽지부분 완성
  FrontEnd/assets/js/index/indexRead.js
  FrontEnd/assets/js/message/messageHander.js
  FrontEnd/assets/js/message/messageReceiveList.js
  FrontEnd/assets/js/message/messageSendList.js
  FrontEnd/index.html
  FrontEnd/message/message_inbox.html
Labels: 🖥️ FrontEnd, 🛠FIX, ✨ FEAT

#139 Fe/feat/detail page
  FrontEnd/app.js
  FrontEnd/approve/apply/apply_business.html
  FrontEnd/approve/apply/apply_expense.html
  FrontEnd/approve/apply/apply_report.html
  FrontEnd/approve/apply/apply_vac.html
  FrontEnd/approve/check/check_business.html
  FrontEnd/approve/check/check_expense.html
  FrontEnd/approve/check/check_report.html
  FrontEnd/approve/check/check_vac.html
  FrontEnd/assets/js/apis/applyAPI.js
  FrontEnd/assets/js/apis/checkAPI.js
  FrontEnd/assets/js/apply/applyBussiness.js
  FrontEnd/assets/js/apply/applyCommon.js
  FrontEnd/assets/js/apply/applyExpense.js
  FrontEnd/assets/js/apply/applyReport.js
  FrontEnd/assets/js/apply/applyVac.js
  FrontEnd/assets/js/check/checkBussiness.js
  FrontEnd/assets/js/check/checkCommon.js
  FrontEnd/assets/js/check/checkExpense.js
  FrontEnd/assets/js/check/checkReport.js
  FrontEnd/assets/js/check/checkVac.js
  FrontEnd/assets/js/common.js
  FrontEnd/assets/js/header.js
  FrontEnd/assets/js/list/myList.js
  FrontEnd/assets/js/list/waitingList.js
Labels: 🖥️ FrontEnd, ✨ FEAT

#140 상세 페이지 기능을 위한 dto 생성 및 로직 수정
  backend/src/main/java/com/example/backend/controller/BoardController.java
  backend/src/main/java/com/example/backend/dto/template/TemplateDto.java
  backend/src/main/java/com/example/backend/dto/template/TemplateResponseDto.java
  backend/src/main/java/com/example/backend/entity/mongo/Template.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/main/java/com/example/backend/service/SignService.java
Labels: 💾BackEnd, ✨ FEAT

#141 목록 리스트 최신순으로 변경
  backend/src/main/java/com/example/backend/repository/boardList/BoardListImpl.java
Labels: 💾BackEnd, 🛠FIX

#142 중복출력 제거, 사번포맷 변경, 리팩토링
  FrontEnd/assets/js/common.js
  FrontEnd/assets/js/header.js
  FrontEnd/assets/js/index.js
  FrontEnd/assets/js/mypage/myPage.js
  FrontEnd/assets/js/mypage/myPageModify.js
  FrontEnd/assets/js/registration/registration.js
Labels: 🖥️ FrontEnd, 🛠FIX, ⚙️ REFACTOR

#143 쪽지 모달 페이지 이동시 안보이게 처리
  FrontEnd/assets/css/message.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/js/message/messageModal.js
Labels: 🖥️ FrontEnd, 🛠FIX

#144 로그인 된상태에서는 로그인 페이지로 이동할 수 없도록 수정
  FrontEnd/assets/js/login/login.js
Labels: 🖥️ FrontEnd, 🛠FIX

#146 출장 이름 포맷 수정
  FrontEnd/approve/check/check_business.html
  FrontEnd/approve/check/check_expense.html
  FrontEnd/approve/check/check_report.html
  FrontEnd/approve/check/check_vac.html
  FrontEnd/assets/js/apis/checkAPI.js
  FrontEnd/assets/js/apply/applyBussiness.js
  FrontEnd/assets/js/apply/applyCommon.js
  FrontEnd/assets/js/check/checkCommon.js
  FrontEnd/assets/js/check/checkReport.js
Labels: 🖥️ FrontEnd, 🛠FIX

#145 로그인 컨트롤러 누락된 부분 복구 및 필요없는 부분 제거
  backend/src/main/java/com/example/backend/Jwt/JwtUtil.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/security/CustomUserDetailService.java
Labels: 💾BackEnd, 🛠FIX

#148 메인 나의 부서 연락쳐 멤버 완성
  backend/src/main/java/com/example/backend/controller/MemberController.java
  backend/src/main/java/com/example/backend/repository/MemberRepository.java
  backend/src/main/java/com/example/backend/service/MemberService.java
Labels: 💾BackEnd, ✨ FEAT

#147 메인 페이지 내 부서 사람들 연락쳐
  FrontEnd/assets/js/index/myMembers.js
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#149 메인페이지 수정
  FrontEnd/index.html
Labels: 🖥️ FrontEnd

#150 자잘한 코드 수정
  FrontEnd/assets/js/common.js
  FrontEnd/assets/js/header.js
  FrontEnd/assets/js/index.js
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, 🛠FIX

#151 메세지 중복제거 오류 해결
  FrontEnd/assets/js/message/messageHander.js
  FrontEnd/assets/js/message/messageReceiveList.js
  FrontEnd/assets/js/message/messageSendList.js
Labels: 🖥️ FrontEnd, 🛠FIX

#153 Front/fix/main page
  FrontEnd/assets/js/message/messageReceiveList.js
  FrontEnd/assets/js/message/messageSendList.js
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, 🛠FIX, ✨ FEAT

#154 메인페이지 적용하는 js 정리
  FrontEnd/assets/js/index.js
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, 🛠FIX

#155 index 메인페이지 html js 수정
  FrontEnd/assets/js/index/indexRead.js
  FrontEnd/index.html
Labels: 🖥️ FrontEnd

#156 멤버 색 수정
  FrontEnd/assets/css/sub.css
Labels: 🖥️ FrontEnd, 🛠FIX

#152 사원 등록 조건 수정
  backend/src/main/java/com/example/backend/controller/LogInController.java
  backend/src/main/java/com/example/backend/repository/UserRepository.java
  backend/src/main/java/com/example/backend/service/UserService.java
Labels: 💾BackEnd, 🛠FIX

#157 오름차순 및 쿼리 수정
  backend/src/main/java/com/example/backend/repository/boardList/BoardListImpl.java
Labels: 💾BackEnd, 🛠FIX

#162 index 일단 올림
  FrontEnd/assets/css/index.css
  FrontEnd/assets/images/new.svg
  FrontEnd/index.html
Labels: 🖥️ FrontEnd, 🛠FIX

#163 new 화면 출력
  FrontEnd/assets/js/message/messageReceiveList.js
Labels: 🖥️ FrontEnd, ✨ FEAT

#164 반응형 13인치 노트북까지 적용
  FrontEnd/approve/apply/apply_business.html
  FrontEnd/approve/apply/apply_expense.html
  FrontEnd/approve/apply/apply_report.html
  FrontEnd/approve/apply/apply_vac.html
  FrontEnd/approve/check/check_business.html
  FrontEnd/approve/check/check_expense.html
  FrontEnd/approve/check/check_report.html
  FrontEnd/approve/check/check_vac.html
  FrontEnd/approve/list/myList.html
  FrontEnd/approve/list/waitingList.html
  FrontEnd/approve/main.html
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/js/approveMain.js
  FrontEnd/member/member.html
  FrontEnd/mypage/mypage.html
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, 🛠FIX, ⚙️ REFACTOR

#165 h180
  FrontEnd/approve/apply/apply_business.html
  FrontEnd/approve/apply/apply_expense.html
  FrontEnd/approve/apply/apply_report.html
  FrontEnd/approve/apply/apply_vac.html
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/sub.css
Labels: 🖥️ FrontEnd, 🛠FIX

#166 조직도 디자인 변경
  FrontEnd/approve/check/check_business.html
  FrontEnd/approve/check/check_expense.html
  FrontEnd/approve/check/check_report.html
  FrontEnd/approve/check/check_vac.html
  FrontEnd/assets/css/sub.css
  FrontEnd/common/header.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#168 메세지 카운트 완성
  backend/src/main/java/com/example/backend/controller/MessageController.java
  backend/src/main/java/com/example/backend/repository/MessageRepository.java
  backend/src/main/java/com/example/backend/service/MessageService.java
Labels: 💾BackEnd, 🛠FIX, ✨ FEAT

#167 메세지 카운트
  FrontEnd/assets/js/message/messageReceiveList.js
Labels: 🖥️ FrontEnd, 🛠FIX, ✨ FEAT

#169 참조페이지 승인,반려 보이게 수정
  FrontEnd/assets/css/index.css
  FrontEnd/assets/js/list/waitingList.js
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#170 참조페이지 승인, 반려 보이게 기능 수정
  backend/src/main/java/com/example/backend/repository/boardList/BoardList.java
  backend/src/main/java/com/example/backend/repository/boardList/BoardListImpl.java
  backend/src/main/java/com/example/backend/service/BoardService.java
Labels: 💾BackEnd, ⚙️ REFACTOR

#171 참조페이지 오름차순 수정
  backend/src/main/java/com/example/backend/repository/boardList/BoardListImpl.java
Labels: 💾BackEnd, 🛠FIX

#172 오름차순 수정
  FrontEnd/approve/list/waitingList.html
  FrontEnd/assets/js/approveMain.js
  FrontEnd/assets/js/list/waitingList.js
Labels: 🖥️ FrontEnd, 🛠FIX

#173 프론트 엔드 배열 데이터 Stringfy 설정
  FrontEnd/assets/js/apply/applyCommon.js
  FrontEnd/assets/js/apply/applyReport.js
  FrontEnd/assets/js/apply/applyVac.js
  FrontEnd/assets/js/mypage/myPage.js
  FrontEnd/mypage/mypage.html
  FrontEnd/package.json
Labels: 🖥️ FrontEnd, 🛠FIX

#175 승인/참조 페이징 수정
  backend/src/main/java/com/example/backend/repository/boardList/BoardListImpl.java
Labels: 💾BackEnd, 🛠FIX

#174 apply 결재자 순서 오류 수정
  backend/build.gradle
  backend/src/main/java/com/example/backend/dto/template/AccountExpenseDto.java
  backend/src/main/java/com/example/backend/dto/template/BussinessTripDto.java
  backend/src/main/java/com/example/backend/dto/template/TemplateDto.java
  backend/src/main/java/com/example/backend/repository/UserRepository.java
  backend/src/main/java/com/example/backend/repository/userList/UserList.java
  backend/src/main/java/com/example/backend/repository/userList/UserListImpl.java
  backend/src/main/java/com/example/backend/service/SignService.java
Labels: 💾BackEnd, 🛠FIX

#178 반응형 크기 변경
  FrontEnd/assets/css/index.css
  FrontEnd/assets/css/sub.css
  FrontEnd/assets/js/list/waitingList.js
  FrontEnd/common/footer.html
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#179 sub페이지 반응형 크기 변경
  FrontEnd/assets/css/sub.css
Labels: 🖥️ FrontEnd, ⚙️ REFACTOR

#180 apply 결재자 순서 혼동 에러 수정(최종버전)
  backend/src/main/java/com/example/backend/repository/userList/UserListImpl.java
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/main/java/com/example/backend/service/SignService.java
  backend/src/main/resources/application.yml
Labels: 💾BackEnd, 🛠FIX

#181 직급별 mypage 프로필 이미지 - 네이버 클라우드
  FrontEnd/assets/js/mypage/myPage.js
  FrontEnd/mypage/mypage.html
Labels: 🖥️ FrontEnd, ✨ FEAT

#182 결재자, 참조자 null 에러 핫픽스
  backend/src/main/java/com/example/backend/service/BoardService.java
  backend/src/main/java/com/example/backend/service/SignService.java
Labels: 💾BackEnd, 🚨 HOTFIX

#183 로그인 실패시 에러 메세지 변경
  FrontEnd/assets/js/apis/exceptHandler.js
Labels: 🖥️ FrontEnd, 🛠FIX

#184 결재페이지 오름차순으로 원복
  backend/src/main/java/com/example/backend/repository/boardList/BoardListImpl.java
Labels: 💾BackEnd, 🛠FIX

#186 스크롤 오류 해결
  FrontEnd/assets/js/approveMain.js
  FrontEnd/assets/js/list/waitingList.js
Labels: 🖥️ FrontEnd, 🛠FIX

#185 프론트 마이페이지 수정 페이지 프로필 이미지 작성
  FrontEnd/assets/js/mypage/myPageModify.js
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, 🛠FIX

#187 핫 픽스 프론트 수정
  FrontEnd/mypage/mypage_modify.html
Labels: 🖥️ FrontEnd, 🚨 HOTFIX
